---
layout: 
---
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/8d805c03a8.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">
    <link rel="stylesheet" href="./src/css/reset.css">
    <link rel="stylesheet" href="./src/css/style.css">
    <link rel="stylesheet" href="./src/css/responsivo.css">

    <title>{{ site.title }}</title> <!--Titulo do site-->
</head>
<body>

    {% include header.html %}

    <main class="content-about"> <!--Coteudo do site-->
        <h1 class="title-about">"Sobre mim"</h1>
        <h2 class="subtitle-about">Oi, me chamo Lucas Gabriel, tenho 19 anos e sou apaixonado por tecnologia . Estou
            cursando o 3º ano do ensino médio e meu objetivo é entrar na aréa de programação.
            Estou estudando front-end por enquanto, mesmo tendo alguns projetos em Js. Pretendo primeiro começar por
            partes antes de pular para o proximo degrau. <!--Sobre mim-->
        </h2>
    </main>

    {% include footer.html %}

</body>

</html> 