---
layout: 
---

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">
    <link rel="stylesheet" href="./src/css/reset.css">
    <link rel="stylesheet" href="./src/css/style.css">
    <link rel="stylesheet" href="./src/css/responsivo.css">

    <script src="https://kit.fontawesome.com/8d805c03a8.js" crossorigin="anonymous"></script>

    <title>{{ site.title }}</title>

</head>
<body>

    {% include header.html %}

    <main><!--conteudo principal da pagina-->
        <div class="content-home">
            <h1 class="title-home">Eae, meu nome é</h1> <!--titulo da main-->
            <h1 class="caption-home">Lucas Gabriel</h1>
            <h1 class="caption-home-2">Sou um programador iniciante em busca de aventura em codificação</h1>
            <h2 class="caption-home-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas molestiae dolorum dicta doloribus,
                temporibus sequi? Repudiandae atque at velit aliquam vero tempore explicabo animi totam debitis. Tenetur
                fugiat nemo labore.</h2>
        </div>
    </main>

    {% include footer.html %}

</body>

</html>