---
layout:
---
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/8d805c03a8.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">
    <link rel="stylesheet" href="./src/css/reset.css">
    <link rel="stylesheet" href="./src/css/style.css">
    <link rel="stylesheet" href="./src/css/responsivo.css">


    <title>{{ site.title }}</title>
</head>

<body>

    {% include header.html %}

    <main>
        <div class="container-title-project">
            <h1 class="title-project">Projetos</h1>
        </div>
        <div class="list-project">
            <ul class="card-project">
                <li class="info">
                    <img class="img-project" src="./src/img/Screenshot_11.png" alt="Mario">
                    <p class="paragraph-project">Esse projeto foi feito totalmente em Html/Css/Js.
                        O tema foi baseado no filme Mario e foi o meu
                        primeiro projeto feito com base no mini curso do canal.</p>                    
                </li>
            </ul>

            <ul class="card-project">
                <li class="info">
                    <img class="img-project" src="./src/img/Screenshot_12.png" alt="Pokemon">
                    <p class="paragraph-project">Esse projeto foi feito com o canal dev em dobro, onde também foi feito
                        esse projeto
                        Mario que está acima e eles que me deram a base de tudo para começar. Indico esse projeto
                        pókemon que está bem
                        legal. Feito em Html/Css/Js.</p>
                </li>
            </ul>

            <ul class="card-project">
                <li class="info">
                    <img class="img-project" src="./src/img/Screenshot_12.png" alt="Pokemon">
                    <p class="paragraph-project">Esse projeto foi feito com o canal dev em dobro, onde também foi feito
                        esse projeto
                        Mario que está acima e eles que me deram a base de tudo para começar. Indico esse projeto
                        pókemon que está bem
                        legal. Feito em Html/Css/Js.</p>
                </li>
            </ul>

            <ul class="card-project">
                <li class="info">
                    <img class="img-project" src="./src/img/Screenshot_12.png" alt="Pokemon">
                    <p class="paragraph-project">Esse projeto foi feito com o canal dev em dobro, onde também foi feito
                        esse projeto
                        Mario que está acima e eles que me deram a base de tudo para começar. Indico esse projeto
                        pókemon que está bem
                        legal. Feito em Html/Css/Js.</p>
                </li>
            </ul>

            <ul class="card-project">
                <li class="info">
                    <img class="img-project" src="./src/img/Screenshot_12.png" alt="Pokemon">
                    <p class="paragraph-project">Esse projeto foi feito com o canal dev em dobro, onde também foi feito
                        esse projeto
                        Mario que está acima e eles que me deram a base de tudo para começar. Indico esse projeto
                        pókemon que está bem
                        legal. Feito em Html/Css/Js.</p>
                </li>
            </ul>
            
            <ul class="card-project">
                <li class="info">
                    <img class="img-project" src="./src/img/Screenshot_12.png" alt="Pokemon">
                    <p class="paragraph-project">Esse projeto foi feito com o canal dev em dobro, onde também foi feito
                        esse projeto
                        Mario que está acima e eles que me deram a base de tudo para começar. Indico esse projeto
                        pókemon que está bem
                        legal. Feito em Html/Css/Js.</p>
                </li>
            </ul>
        </div>

    </main>

    {% include footer.html %}
</body>

</html>