<header><!--cabecalho-->
    <img src="./src/img/OIG1.png" alt="logo do site" class="logo-header"><!--Logo da pagina-->
    <nav class="menu">
        <ol class="btn-menu"> <!--botoes menu-->
            <li href="./index.html" class="list-header"><a class="links-header" href="./index.html">Start</a></li>
            <li href="./projetos.html" class="list-header"><a class="links-header"
                    href="./projetos.html">Project</a></li>
            <li href="./sobremin.html" class="list-header"><a class="links-header" href="./about.html">About</a>
            </li>
        </ol>
    </nav>
</header>