@media only screen and (max-width: 430px) {

    :root {
        --azul_escuro-2: #08182e;
        --azul_escuro: #081526;
        --azul_clarin: #CED7F2;
        --cinza_azulado: #818AA6;
        --branco: #fff;
        --verde_gosma: #378C84;
        --verde_praia: #55D9B3;
    }


/*HEADER*/
 
header {
    flex-direction: column;
    align-items: center;
}

.logo-header {
    margin-left: 0;
}

.btn-menu {
    gap: 15px;
}

.links-header {
    margin-right: 0;
}
.links-header::before {
    display: none;
}
/*HEADER END*/

/*CONTENT-HOME*/

.content-home {
    margin-top: 5em;
    margin-left: 5em;
}

.title-home {
    font-size: 17px;
}

.caption-home {
    font-size: 34px;
}
.caption-home-2 {
    font-size: 20px;
    margin-right: 15px
}
.caption-home-3 {
    margin-top: 1%;
    font-size: 18px;
    margin-bottom: 17em;
}

/*CONTENT-HOME-END*/

/*CONTENT-PROJECT*/

.title-project {
    font-size: 38px;
    margin-bottom: 1em;
}

.list-project {
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
    justify-content: center; 
}

.card-project {
    padding: 0;
}

.info-card-project {
    width: 24em; 
    margin: 0;
}

.img-project {
    width: 100%;
    border-radius: 0;
}

/*CONTENT-PROJECT-END*/

/*CONTENT-ABOUT*/

.content-about {
    text-align: center;
    align-items: center;
}

.title-about {
    margin-top: 1em;
}

.subtitle-about {
    color: var(--azul_clarin);
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 5%;
    margin-bottom: 7em;
}



/*CONTENT-ABOUT-END*/

/*FOOTER*/

/*FOOTER-END*/
}