@media only screen and (max-width: 600px) {

    :root {
        --azul_escuro-2: #08182e;
        --azul_escuro: #081526;
        --azul_clarin: #CED7F2;
        --cinza_azulado: #818AA6;
        --branco: #fff;
        --verde_gosma: #378C84;
        --verde_praia: #55D9B3;
    }

/*HEADER*/
    header {
        display: flex;
        flex-direction: column;
    }

    .logo-header {
        margin: 0;
        margin-top: 10px;
    }
    .btn-menu {
        gap: 20px;
    }

    .links-header {
        margin: 0;
    }

    .links-header::before {
        display: none;
    }
    .links-header:hover::before {
        display: none; 
    }

/*HEADER END*/

/*CONTENT-HOME*/

.content-home {
margin-top:7em;
margin-left: 5em;
margin-right: 2em ;
}

.title-home {
    font-size: 20px;
}

.caption-home {
    font-size: 40px;
}

.caption-home-2 {
    font-size: 25px;
}

.caption-home-3 {
    font-size: 14px;
    max-width: 38ch;
    margin-bottom: 20em;
}

/*CONTENT-HOME-END*/

/*CONTENT-PROJECT*/

.title-project {
    font-size: 30px;
    margin-top: 2em;
}

.list-project {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.card-project {
    width: 27em;
    padding: 0px.0px.0px.0px;
}

.img-project {
    width: 430px;
    border-radius: 0;
    cursor: none;
}

.img-project:hover {
   transform: none;
}

/*CONTENT-PROJECT-END*/

/*CONTENT-ABOUT*/

.title-about {
    margin-top: 2em;
}

.subtitle-about {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 7em;
}



/*CONTENT-ABOUT-END*/

/*FOOTER*/

footer {
    margin-top: 11em;
}

/*FOOTER-END*/
}